{
    "tabWidth": 4,
    "singleQuote": true,
    "plugins": [
        "prettier-plugin-blade",
        "prettier-plugin-tailwindcss"
    ],
    "overrides": [
        {
            "files": [
                "*.blade.php"
            ],
            "options": {
                "parser": "blade"
            }
        }
    ],
    "exclude": [
        "resources/views/vendor/mail/**/*.blade.php",
        "resources/views/emails/*.*",
        "/resources/views/emails/new-order.blade.php"
    ]
}
