@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');
@import './theme.css';
@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';
@import 'flowbite/src/themes/default.css';

@plugin "flowbite/plugin";

@source "../views";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';
@source "../../node_modules/flowbite";

@custom-variant dark (&:where(.dark, .dark *));

/* Re-assign Flux's gray of choice... */

@layer base {
    html,
    body {
        @apply text-azul-sea w-full bg-white leading-[22px] font-light text-pretty;
    }

    .container {
        @apply mx-auto max-w-[var(--max-width)] px-4 md:px-0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply text-azul-sea font-semibold;

        &.subtitle {
            @apply font-teacher text-[16px] tracking-[.35em];
        }

        &.title {
            @apply font-teacher text-[38px] leading-10;
        }

        &.title2 {
        }
    }

    .full-container {
        @apply mx-auto w-full max-w-[var(--max-width)];
    }

    section {
        @apply mx-auto py-10 lg:py-[72px];

        &:first-of-type {
            @apply py-0 pt-7;
        }

        &:not(.full) {
            @apply px-4 lg:px-[72px];
        }
    }

    .donacion {
        @apply mx-auto px-4 pt-7 pb-20 lg:px-[72px];

        section {
            @apply px-0;

            &:first-of-type {
                @apply py-0;
            }
        }
    }

    h4 {
        @apply text-xl;
    }

    img.icon {
        @apply h-12 w-12;
    }

    p {
        @apply mb-4;
    }

    .banner {
        @apply bg-cover;

        .fondo {
            @apply relative overflow-hidden;
        }
    }

    .footer-nav {
        h6 {
            @apply mb-4;
        }

        nav {
            @apply flex flex-col gap-1;
        }

        .actividades {
            @apply flex w-fit flex-row flex-wrap gap-2 md:grid md:grid-cols-3 lg:w-auto lg:grid-cols-3;

            a {
                @apply max-h-20 w-full max-w-20 overflow-hidden rounded-xl;

                img {
                    @apply h-full w-full object-cover transition-all ease-out hover:scale-110;
                }
            }
        }
    }

    .sponsor-image {
        @apply overflow-hidden;

        &.small {
            @apply h-auto w-full max-w-[64px];
        }

        &.medium {
            @apply h-auto w-full max-w-[88px];
        }

        &.large {
            @apply h-auto w-full max-w-[160px];
        }

        img {
        }
    }

    .richtext {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            @apply mb-3;
        }
    }

    .content {
        ul {
            @apply list-inside list-disc;
        }
    }

    input[type='number'].item-number {
        /*-moz-appearance: textfield;*/

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
}

@utility btn {
    @apply w-fit rounded-3xl px-5 py-3 no-underline;

    &.btn-small {
        @apply text-sm;
    }

    &.btn-secondary {
        @apply bg-(--boton-primary-bg) text-(--boton-primary-text);

        &:hover,
        &:focus,
        &:active {
            @apply bg-(--boton-primary-bg-hover) text-(--boton-primary-text-hover) no-underline;
        }
    }

    &.btn-primary {
        @apply bg-azul-mist text-white;

        &:hover,
        &:focus,
        &:active {
            @apply bg-azul-sapphire text-white no-underline;
        }

        &:disabled {
            @apply bg-azul-gray text-white;
        }
    }

    &.btn-primary-outline {
        @apply text-azul-mist border-azul-mist border bg-white;


        &:hover,
        &:focus,
        &:active {
            @apply bg-azul-sapphire text-white no-underline;
        }

        img {
            @apply w-0;
        }

        &:has(input[type='radio']:checked) {
            @apply bg-azul-mist text-white no-underline;

            img {
                @apply visible! w-auto!;
            }
        }


    }


}
@utility card {
    @apply border-azul-cobalt block rounded-lg border bg-white p-4 shadow-md;
}


.radio-buttons {
    /* Primer segmento: borde izq. y radio izq. */

    .collapsed {
        @apply rounded-none border-x-0;
    }

    .block:first-child > .collapsed {
        @apply rounded-l-3xl! border-l!;
    }

    /* Último segmento: borde der. y radio der. */

    .block:last-child > .collapsed {
        @apply rounded-r-3xl border-r;
    }
}

.sliderHome {
    .splide__track {
        @apply h-auto px-2! py-5;
    }

    .splide__arrows {
        @apply my-3 flex h-auto justify-start gap-3;

        button.splide__arrow {
            @apply bg-azul-sky relative top-0 left-0 transform;

            svg {
                @apply fill-azul-sea;
            }

            &:disabled {
                /*@apply hidden;*/
            }
        }
    }
}

.splide__arrows {
    @apply my-3 flex h-auto justify-start gap-3;

    button.splide__arrow {
        @apply bg-azul-sky relative top-0 left-0 transform;

        svg {
            @apply fill-azul-sea;
        }

        &:disabled {
            /*@apply hidden;*/
        }
    }
}

.product-gallery {
    @apply flex flex-row-reverse gap-3;

    #productGallery {
        @apply my-0;

        .splide__track {
            @apply px-1;
        }
    }

    .thumbnails {
        @apply mt-0 mb-0 flex list-none flex-col justify-start gap-3 p-0;

        .thumbnail {
            @apply mx-1 w-[80px] cursor-pointer list-none overflow-hidden rounded-lg border border-transparent;

            &.is-active {
                @apply border-azul-wave;
            }

            img {
                @apply object-cover;
            }
        }
    }
}

#modalDonation {
    @apply relative z-50 flex w-full max-w-6xl flex-col items-end justify-end gap-4 overflow-hidden rounded-lg bg-white lg:rounded-tr-lg lg:rounded-br-lg;

    &::before {
        @apply absolute left-0 z-40 hidden h-full w-[70%] overflow-hidden bg-white bg-no-repeat lg:block;
        content: ' ';
        background: url('/public/images/elena.jpeg') no-repeat 72% center;
        background-size: cover;
    }
}

.form-style {
    label {
        @apply mt-3 mb-1.5 block text-[14px] leading-[1.2] group-[.form-xs]:hidden group-[.form-xs]:text-[12px];

        span {
            @apply text-azul-gray;
        }
    }

    input,
    select {
        @apply border-gris! text-azul-sea! rounded-md border text-[14px] group-[.form-xs]:text-[12px]!;

        &[type='text'],
        &[type='email'],
        &[type='tel'] {
            @apply w-full px-4 py-3 leading-[1.2] font-light group-[.form-xs]:px-2 group-[.form-xs]:py-2;
        }

        &::placeholder,
        option.placeholder {
            @apply text-gray-500;
        }
    }

    select {
        @apply group-[.form-xs]:h-[33px]! group-[.form-xs]:py-1! has-[option.placeholder:checked]:text-gray-300!;
    }

    .col-2 {
        @apply col-span-6 group-[.form-xs]:col-span-2 lg:col-span-2;
    }

    .col-3 {
        @apply col-span-6 group-[.form-xs]:col-span-3 lg:col-span-3;
    }

    .col-4 {
        @apply col-span-6 group-[.form-xs]:col-span-4 lg:col-span-4;
    }

    .col-6 {
        @apply col-span-6 group-[.form-xs]:col-span-6 lg:col-span-6;
    }
}
