@import '../../theme.css';
@import 'tailwindcss';

@layer base {
    .fi-ta-toggle {
        .translate-x-5 {
            --tw-translate-x: 0.65rem !important;
        }
    }

    .timeline {
        @apply relative;

        &:before {
            @apply absolute top-0 left-0 h-full border-r-1! border-solid! border-r-gray-400! content-[""];
        }

        .timeline-block {
            @apply relative after:clear-both! after:table! after:content-[""] first:mt-0 last:mb-0;

            .bullet {
                @apply border!;
            }

            &.warning {
                .texto {
                    @apply text-warning;
                }

                .bullet {
                    @apply border-warning! bg-warning/50;
                }
            }

            &.danger {
                .texto {
                    @apply text-error;
                }

                .bullet {
                    @apply border-error! bg-error/50;
                }
            }

            &.success {
                .texto {
                    @apply text-success;
                }

                .bullet {
                    @apply border-success! bg-success/50;
                }
            }

            &.info {
                .texto {
                    @apply text-azul-mist;
                }

                .bullet {
                    @apply border-azul-mist! bg-azul-mist/50;
                }
            }

            &.primary {
                .texto {
                    @apply text-azul-sea;
                }

                .bullet {
                    @apply border-azul-sea! bg-azul-sea/50;
                }
            }

            &.secondary {
                .texto {
                    @apply text-azul-sapphire;
                }

                .bullet {
                    @apply border-azul-sapphire! bg-azul-sapphire/50;
                }
            }

            &.green {
                .texto {
                    @apply text-green;
                }

                .bullet {
                    @apply border-green! bg-green/50;
                }
            }

            &.lime {
                .texto {
                    @apply text-lime;
                }

                .bullet {
                    @apply border-lime! bg-lime/50;
                }
            }

            &.rose {
                .texto {
                    @apply text-rose;
                }

                .bullet {
                    @apply border-rose! bg-rose/50;
                }
            }

            &.purple {
                .texto {
                    @apply text-purple;
                }

                .bullet {
                    @apply border-purple! bg-purple/50;
                }
            }
        }

        .timeline-block:last-child {
            @apply bg-white;
        }

        .timeline-step {
            @apply absolute top-1 -left-[4px] z-[1] inline-flex h-2.5 w-2.5 items-center justify-center bg-white! text-center text-base font-semibold ring-4! ring-white!;

            i {
                @apply h-full w-full rounded-[50%] border content-[""];
            }
        }

        .timeline-content {
            @apply relative top-[-5px] ml-4 pt-[0.35rem] after:clear-both after:table after:content-[""];
        }

        .timeline-content h5 {
            @apply mt-[0.2rem] text-xs;
        }

        .timeline-one-side .timeline-step,
        .timeline-one-side:before {
            @apply left-4;
        }

        .timeline-one-side .timeline-content {
            @apply w-auto;
        }

        .timeline-one-side {
            .timeline-block:nth-child(2n) {
                .timeline-content {
                    @apply float-none;
                }
            }
        }
    }
}
